spring:
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/qawave
    username: qawave
    password: secret

  data:
    redis:
      host: localhost
      port: 6379

  kafka:
    bootstrap-servers: localhost:9092

logging:
  level:
    com.qawave: DEBUG
    org.springframework.r2dbc: DEBUG
