apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: prometheus
    targetRevision: 25.11.0
    helm:
      values: |
        server:
          service:
            type: NodePort
            nodePort: 30090
          persistentVolume:
            enabled: true
            size: 10Gi
            storageClass: local-path
          retention: "15d"
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 1Gi

        alertmanager:
          enabled: true
          persistentVolume:
            enabled: true
            size: 2Gi
            storageClass: local-path
          resources:
            requests:
              cpu: 10m
              memory: 32Mi
            limits:
              cpu: 100m
              memory: 64Mi

        kube-state-metrics:
          enabled: true
        prometheus-node-exporter:
          enabled: true
        prometheus-pushgateway:
          enabled: false
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
